$color1:#482A2A;
$color2:#EDE1D5;
$color3:#F2774B;
$color4:#CF484C;
$color5:#712357;
$color6:#42A5F8;

*{
    box-sizing: border-box;
}

body{
    background: #482A2A;
}
h1{
    font-size: 80px;
    margin: 0;
    padding: 0;
    color: $color2;
}

.outer-circle{
    background: $color2;
    margin: auto;
    margin-top: 80px;
    width: 500px;
    height:500px;
    border-radius: 100%;
    padding-right: 20px;
}
.watch-section{
    margin: auto;
    width: 300px;
    padding-top: 200px;
    h1{
        font-size: 100px;
        margin: auto;
        color: $color3;
        margin-right: 10px;
    }
    .btn{
        width: 100px;
        height: 40px;
    }
}

.blinker{
    animation: blink 1s infinite;
}
@keyframes blink {
    0%{
        opacity:1;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    76%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
