* {
  box-sizing: border-box;
}

body {
  background: #482A2A;
}

h1 {
  font-size: 80px;
  margin: 0;
  padding: 0;
  color: #EDE1D5;
}

.outer-circle {
  background: #EDE1D5;
  margin: auto;
  margin-top: 50px;
  width: 700px;
  height: 700px;
  border-radius: 100%;
  padding-right: 20px;
}

.inner-circle {
  width: 450px;
  height: 450px;
  margin: auto;
  border-radius: 100%;
  background: #F2774B;
  top: 320px;
  right: 620px;
  position: absolute;
}

.watch-section {
  margin: auto;
  width: 300px;
  padding-top: 200px;
}

.watch-section h1 {
  font-size: 250px;
  margin: auto;
  color: #F2774B;
}

.watch-section .btn {
  width: 150px;
  height: 40px;
}
